__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git/
.gitignore
*.log
# Ignore arquivos temporários do sistema/macOS
.DS_Store
# Arquivos grandes e backups
*.tar.gz
*.bak*
# Caches
.cache_ggshield
# Logs
*.log
# CSV temporários ou de saída
group_info.csv
group_summary.csv
summary_execution.log
# Não ignore Dockerfile, docker-compose.yml, scripts de deploy, nem a pasta data/
    