# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
.venv/
*.pyc
__pycache__/
*.egg-info/
build/
dist/
*.lock

# VSCode
.vscode/

# Backups e arquivos temporários
archive/
backups/
reorganization_backup/
*.bak
system.log
*.log
data/cache/
*.csv
